.shape {
  display: inline-block;
  width: 200px;
  height: 200px;
  background: #ddffdd;
  margin: 20px;
}
ul.nav li a,
ul.nav li a:visited {
  color: #ffffff !important;
}
ul.nav li a:hover,
ul.nav li a:active {
  color: #ffffff !important;
}
ul.nav li.active a {
  color: #ffffff !important;
}
.title h1 {
  text-align: center;
}
.welcome_box {
  width: 70%;
  height: 350px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 1px 3px 15px #888888;
}
.welcome_box img {
  float: right;
}
.image_box {
  float: left;
  width: 35%;
  height: 350px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 1px 3px 15px #888888;
}
.detail_box {
  float: right;
  width: 60%;
  height: 350px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 1px 3px 15px #888888;
}
.line {
  margin-top: 100px;
}
.line-small {
  margin-top: 50px;
}
.form_center {
  margin: 0 auto;
  width: 80%;
}
